{% extends 'user_admin/temp/base.html' %} {% load static %} {% block content %}
<div
  class="page-content"
  style="padding: calc(40px + 24px) calc(24px / 2) 60px calc(24px / 2)"
>
  <div class="container-fluid">
    <div class="row">
      <div class="d-sm-flex flex-wrap mb-4">
        <h4 class="card-title mb-4">Event List</h4>

        <div class="ms-auto">
          <!-- Add  modal Button -->
          <button
            type="button"
            class="btn btn-primary waves-effect waves-light"
            data-bs-toggle="modal"
            data-bs-target="#eventModal"
          >
            Add Event Category
          </button>

          <div
            class="modal fade"
            id="eventModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            role="dialog"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Add Event Category
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form class="custom-validation" id="form-id" name="form-id" action="#" data-parsley-validate>

                    <div class="row">
                        <div class="col-md">
                            <div class="mb-3">
                                
                                <input type="text" class="form-control" id="event-category" name="event-category"
                                    placeholder="Type new event category..." data-parsley-required="true" required >
                                
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-light"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Event</h4>
              <table
                id="emp"
                class="table table-bordered dt-responsive nowrap w-100"
              >
                <thead>
                  <tr>
                    <th>Event Name</th>
                    <th>Event Type</th>
                    <th>Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

      <!-- hidden table for print d-none-->
      <!-- <div class="row ">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Employee</h4>
                                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
      <!--end row -->

      <!-- end page title -->
    </div>
    <!-- container-fluid -->
  </div>
</div>
{% endblock content %}

<!-- skote plugins -->
{% block script %}
<!-- select 2 -->
<script src="{% static 'assets' %}/libs/select2/js/select2.min.js"></script>
<!-- parsley -->


{% endblock script %}

<!-- custom script -->
{% block custom_script %}
<script src="{% static 'assets' %}/libs/parsleyjs/parsley.min.js"></script>
<script src="{% static 'assets' %}/libs/parsleyjs/parsley.min.js"></script>
<script src="{% static 'assets' %}/js/user_admin/event/event_types.js"></script>




{% endblock custom_script %}
