{% extends 'user_admin/temp/base.html' %} {% load static %}

<!-- 
*****************************************************************
    block for css in upper header part 
*****************************************************************
-->
{% block headlinks %}

<!-- DataTables -->
<link
  href="{% static 'assets' %}/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'assets' %}/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="{% static 'assets' %}/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- Sweet Alert-->
<link
  href="{% static 'assets' %}/libs/sweetalert2/sweetalert2.min.css"
  rel="stylesheet"
  type="text/css"
/>

{% endblock headlinks %}

<!-- 
*****************************************************************
    block for content 
*****************************************************************
-->

{% block content %}
<div
  class="page-content"
  style="padding: calc(40px + 24px) calc(24px / 2) 60px calc(24px / 2)"
>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="d-sm-flex flex-wrap mb-4">
        <h4 class="card-title mb-4">Event type</h4>
      </div> -->
      

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="d-sm-flex flex-wrap mb-4">
                  <h4 class="card-title">Event Type List</h4>
                  <div class="ms-auto">
                    <!-- Add  modal Button -->
                    <button
                      type="button"
                      class="btn btn-primary waves-effect waves-light"
                      data-bs-toggle="modal"
                      data-bs-target="#typeModal"
                    >
                      Add Event Venue
                    </button>
          
                    <div
                      class="modal fade"
                      id="typeModal"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                              Add Event Venue 
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                              onclick="formReset()"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <form class="form-id custom-validation" id="form-id" name="form-id" action="#" data-parsley-validate>
          
                              <div class="row">
                                  <div class="col-md"> 
                                    <input type="hidden" class="uuid form-control submit" id="venueID" name="venueID"
                                        placeholder="Type new event type..." data-parsley-required="true" >
                                      <div class="mb-3">
                                        <input type="text" class="form-control submit" id="venue-name" name="venue-name"
                                              placeholder="Type new event type..." data-parsley-required="true" required >
                                      </div>

                                      <div class="mb-3">
                                        <input type="text" class="form-control submit" id="venue-description" name="venue-description"
                                        placeholder="Type new event type..." data-parsley-required="true" required >
                                      </div>  
                                  </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="close btn btn-light"
                                data-bs-dismiss="modal"
                                onclick="formReset()">
                                Close
                              </button>
                              <button type="submit" id="submit" class="btn btn-primary">
                                 Submit
                              </button>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>

              <!-- <p class="card-title-desc">DataTables has most features enabled by
                        default, so all you need to do to use it with your own tables is to call
                        the construction function: <code>$().DataTable();</code>.
                    </p> -->
<!-- id="datatable" -->
              <table
                id="venue-table"
                class="table table-bordered dt-responsive nowrap w-100"
              >
                <thead>
                  <tr>
                    <th width="40%">Name</th>
                    <th width="40%">Name</th>
                    <th width="20%">Action</th>
                  </tr>
                </thead>

                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
    </div>
    <!-- container-fluid -->
  </div>
</div>

{% endblock content %}

<!-- 
*****************************************************************
    block for skote plugins
*****************************************************************
-->
<!-- <script>
  var error = {{token}}
</script> -->

{% block script %}
<!-- select 2 -->
<script src="{% static 'assets' %}/libs/select2/js/select2.min.js"></script>
<!-- parsley -->
<script src="{% static 'assets' %}/libs/parsleyjs/parsley.min.js"></script>

<!-- Required datatable js -->
<script src="{% static 'assets' %}/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="{% static 'assets' %}/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="{% static 'assets' %}/libs/jszip/jszip.min.js"></script>
<script src="{% static 'assets' %}/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="{% static 'assets' %}/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="{% static 'assets' %}/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="{% static 'assets' %}/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="{% static 'assets' %}/js/pages/datatables.init.js"></script>

<!-- Sweet Alerts js -->
<script src="{% static 'assets' %}/libs/sweetalert2/sweetalert2.min.js"></script>

<script src="{% static 'assets' %}/js/pages/sweet-alerts.init.js"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  console.log(error);
</script>
{% endblock script %}

<!-- 
*****************************************************************
    block for custom js scripts
*****************************************************************
-->
{% block custom_script %}
<script src="{% static 'assets' %}/js/user_admin/event/common.js"></script>
<script src="{% static 'assets' %}/js/user_admin/event/venue.js"></script>
<script src="./login/login.js"></script>
<script>
  value = "{{ request.session.token }}";
  console.log(value);
  transactionID = "{{transactionID}}";
</script>

{% endblock custom_script %}
