{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin | PSUCCESS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="PSUCCESS" name="" />
    <meta content="PSUCCCESS" name="author" />

    <!-- App favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'assets' %}/images/psuccess/pssucess_logo/psuccess-logo.png"
    />

    {% block headlinks %} {% endblock headlinks %}

    <!-- Bootstrap Css -->
    <link
      href="{% static 'assets' %}/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link
      href="{% static 'assets' %}/css/icons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- App Css-->
    <link
      href="{% static 'assets' %}/css/app.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body data-sidebar="light">
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <div id="layout-wrapper">
      <!-- header Nav -->
      {% include 'user_admin/temp/_headNav.html' %}

      <!-- header Nav -->
      {% include 'user_admin/temp/_sidebar.html' %}

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- create a body block-->
            <!-- sa block dito natin i extend -->
            {% block content %} {% endblock content %}
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include "user_admin/temp/footer.html" %}
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!-- JAVASCRIPT -->
    <script src=" {% static 'assets' %}/libs/jquery/jquery.min.js"></script>
    <script src=" {% static 'assets' %}/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src=" {% static 'assets' %}/libs/metismenu/metisMenu.min.js"></script>
    <script src=" {% static 'assets' %}/libs/simplebar/simplebar.min.js"></script>
    <script src=" {% static 'assets' %}/libs/node-waves/waves.min.js"></script>

    <!-- 

        Sa block script na ito extend yung ilalagay na script
        pwede nyo ilagay yung block script sa loob ng html file nyo ito script from skote template
    -->

    {% block script %} {% endblock script %}

    <!-- 
      lagi dapat nasa baba muna yung app.js ng lahapy ng plugins
     -->
    <script src=" {% static 'assets' %}/js/app.js"></script>
    <!-- 
      
      
      sa custom_script dito nyo ilagay yung sariling gawang script for your own page 
    
    -->

    {% block custom_script %} {% endblock custom_script %}
  </body>
</html>
