{% load static %}
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>PSUCCESS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->

  <link rel="shortcut icon" href=" {% static 'assets'%}/images/favicon.ico">

  <!-- select 2 -->
  <link href="{% static 'assets'%}/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <!-- date -->
  <link href="{% static 'assets'%}/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'assets'%}/libs/@chenfengyuan/datepicker/datepicker.min.css">

  <!-- Responsive datatable examples -->
  <link href="{% static 'assets'%}/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
  <!-- Bootstrap Css -->
  <link href="{% static 'assets'%}/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'assets'%}/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'assets'%}/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


  <!-- DataTables -->
  <link href="{% static 'assets'%}/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets'%}/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>


<body data-sidebar="light">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

  <div id="layout-wrapper">

      <!-- header Nav -->
      {% include 'temp/_headNav.html' %}

      {% include 'temp/_sidebar.html' %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- create a body block-->
            {% block content %}


            {% endblock content %}
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                   2022
               © Polytechnic University of the Philippines - Quezon City Branch <strong> |</strong> PSUCCESS .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Bhox Mapagmahal
                </div>
            </div>
        </div>
    </div>

</footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->
<!-- JAVASCRIPT -->
<script src=" {% static 'assets'%}/libs/jquery/jquery.min.js"></script>
<script src=" {% static 'assets'%}/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src=" {% static 'assets'%}/libs/metismenu/metisMenu.min.js"></script>
<script src=" {% static 'assets'%}/libs/simplebar/simplebar.min.js"></script>
<script src=" {% static 'assets'%}/libs/node-waves/waves.min.js"></script>

<!-- app js -->
<script src=" {% static 'assets'%}/js/app.js"></script>

</body>


</html>