{% load static %}

<!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
{##FFFFC9 #F2ECCE}#}
      <div data-simplebar class="h-100" >

        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title" key="t-menu">Menu</li>
            <!-- far fa-window-minimize -->
            <li>
              <a href="/user_org/" class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span key="t-dashboards">Dashboards</span>
              </a>
            </li>
          <!--------Members------->
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="fas fa-users"></i>
                <span key="t-layouts"> Members</span>
              </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                <a href="/user_org/" class="waves-effect">
                 <i class="fas fa-eye"></i>
                    <span key="t-dashboards">View Members</span>
                  </a>
                </li>
                <li>
                  <a href="/user_org/add_orgMember" class="waves-effect">
                    <i class="fas fa-user-plus"></i>
                    <span key="t-dashboards">Add Members</span>
                  </a>
                </li>
              </ul>
              </li>
              <li>
                <a href="javascript: void(0);" class="waves-effect">
                  <i class="far fa-newspaper"></i>
                  <span key="t-dashboards">Membership Plan</span>
                </a>
              </li>
            <li>
              <a href="javascript: void(0);" class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span key="t-dashboards">Transactions</span>
              </a>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span key="t-layouts">Events</span>
              </a>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span key="t-layouts">Academy</span>
              </a>
            </li>
            
            <!-- SYSTEM SETUPS -->
            <li class="menu-title" key="t-apps">System Setups</li>
            <!-- User -->

            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="fas fa-minus"></i>
                <span key="t-layouts"> Membership</span>
              </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                  <a href="javascript: void(0);" class="has-arrow" key="t-vertical">
                    <i class="fas fa-minus"></i>
                    <span key="t-layouts">Access Type</span></a
                  >
                </li>
              </ul>
              </li>

            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="fas fa-minus"></i>
                <span key="t-layouts">Events</span>
              </a>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="fas fa-minus"></i>
                <span key="t-layouts">Academy</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->